---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Cacophony">
  <main>
    <h1>Cacophony</h1>
    <p>Welcome to the official Cacophony website.</p>
  </main>
</BaseLayout>
